include Components/Header
include Components/Nav
.columns.is-fullheight
  include Components/SideBar
  .column.is-main-content#main
    .center
      include Components/RegisterForm
include Components/Footer



