div.mars
    img(src="https://mars-404.templateku.co/img/404.svg").logo-404
    img(src="https://mars-404.templateku.co/img/meteor.svg").meteor     
div(align="center")
    p.subtitle L'url ou que la page demandée est fausse ou n'existe plus..
    a.btn-back(href="/home").title Retourner au la page d'acceuil?
    img(src="https://mars-404.templateku.co/img/astronaut.svg").astronaut
    img(src="https://mars-404.templateku.co/img/spaceship.svg").spaceship
